# OOPS

In [1]:
class Student:
    pass

In [2]:
s1 = Student()

In [5]:
type(s1) # we'll talk about __main__ in the next class

__main__.Student

In [6]:
isinstance(s1, object)

True

In [7]:
4 + 4

8

In [8]:
"string1" + "2"

'string12'

In [9]:
class A:
    def __init__(self):
        print(id(self))

In [10]:
a = A()

140332440691664

In [11]:
id(a)

140332440691664

In [12]:
class Student:
    pass

In [13]:
s = Student()

In [14]:
s.name = "Bipin"

In [15]:
s.name

'Bipin'

In [16]:
s1 = Student()

In [17]:
s1.name

AttributeError: 'Student' object has no attribute 'name'

In [21]:
class Student:
    def hello():
        print("Hello!")

In [22]:
s1 = Student()

In [23]:
s1.hello()

# Student.hello(s1)

TypeError: hello() takes 0 positional arguments but 1 was given

In [25]:
Student.hello() # class method instead of a instance method

Hello!

In [26]:
class Student:
    def hello(self):
        print("Hello!")

In [27]:
s1 = Student()

In [30]:
s1.hello() # instance method instead of a class method

Hello!

In [31]:
Student.hello()

TypeError: hello() missing 1 required positional argument: 'self'

In [32]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [33]:
s1 = Student("Bipin", 5000)

In [34]:
s1

In [35]:
s1.name

'Bipin'

In [36]:
s1.age

5000

In [37]:
class Dog:
    kind = "labra"
    
    def __init__(self, name):
        self.name = name

In [52]:
d1 = Dog("Tuffy")
d2 = Dog("Scooby")

In [40]:
d1.name

'Tuffy'

In [41]:
d2.name

'Scooby'

In [42]:
d1.kind

'labra'

In [43]:
d2.kind

'labra'

In [44]:
d1.kind = "pomerarian"

In [45]:
d1.kind

'pomerarian'

In [46]:
d2.kind

'labra'

In [47]:
Dog.kind

'labra'

In [48]:
Dog.kind = "random"

In [49]:
d2.kind

'random'

In [50]:
d1.kind

'pomerarian'

In [53]:
class Dog:
    tricks = []
    
    def __init__(self, name):
        self.name = name
        
    def teach_trick(self, trick):
        self.tricks.append(trick)

In [54]:
d1 = Dog("Tuffy")
d2 = Dog("Scooby")

In [55]:
d1.tricks

[]

In [56]:
d2.tricks

[]

In [57]:
d1.teach_trick("Jump")

In [59]:
d2.tricks

['Jump']

In [60]:
d1.tricks

['Jump']

In [61]:
Dog.tricks

['Jump']

In [100]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege
        
    def __str__(self):
        return f"{self.name} -> {self.milaege}"
    
    def __add__(self, other):
        return self.milaege + other.milaege
    
    def __call__(self):
        print("I was just called! How cool!")

In [101]:
c1 = Car("Nexon", 13)
c2 = Car("Altroz", 15)

In [102]:
print(c1) # name -> milaege

Nexon -> 13

In [103]:
c1 + c2

28

In [106]:
c1()

I was just called! How cool!

In [104]:
# << - left shift operator

In [105]:
cout << "Hello world!" # make this syntax work in python

Hello world!

In [91]:
class Printer:
    def __lshift__(self, string):
        print(string)
        
        return self

In [92]:
cout = Printer()

In [93]:
cout << "WOW!"

WOW!

In [94]:
cout << "Something" << "crazy!" # Let's make this work now!
# None << "crazy!"

Something
crazy!

In [95]:
cout << "I" << "AM" << "AMAZED!"

I
AM
AMAZED!

In [96]:
def random():
    return "random"

In [97]:
random()

'random'

In [99]:
Student("Bipin", 5000)

In [108]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance
        
    def withdraw(self, amount):
        self.balance -= amount
    
    def deposit(self, amount):
        self.balance += amount

In [109]:
b1 = BankAccount(10000)

In [110]:
b1.deposit(5000)

In [111]:
b1.balance

15000

In [112]:
b1.withdraw(15000)

In [113]:
b1.balance

0

In [114]:
b1.balance = 1234567898765434567898765432

In [115]:
b1.balance

1234567898765434567898765432

In [121]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance
        
    def withdraw(self, amount):
        self.__balance -= amount
    
    def deposit(self, amount):
        self.__balance += amount
        
    def show_balance(self):
        print(self.__balance)

In [122]:
b1 = BankAccount(10000)

In [123]:
b1.deposit(5000)

In [124]:
b1.show_balance()

15000

In [125]:
b1.__balance = 23456789876543

In [126]:
b1.__balance

23456789876543

In [127]:
b1.show_balance()

15000

In [131]:
b1._BankAccount__balance = 234567898765432 # Name Mangling in Python

In [130]:
b1.show_balance()

234567898765432

In [139]:
class SchoolMember:
    def __init__(self, name):
        self.name = name

class Student(SchoolMember):
    def __init__(self, name, grade):
        super().__init__(name)
        self.grade = grade

class Staff(SchoolMember):
    def __init__(self, name, salary):
        super().__init__(name)
        self.salary = salary

class Teacher(Staff):
    def __init__(self, name, salary, subject):
        # Staff.__init__(self, name, salary)
        super().__init__(name, salary)
        # super() is a reference to the direct parent
        self.subject = subject

In [140]:
t1 = Teacher("Bipin", 10, "Python")

In [141]:
t1.subject

'Python'

In [142]:
t1.salary

10

In [143]:
t1.name

'Bipin'

In [144]:
# HOMEWORK -
# FIGURE OUT SUPER FOR MULTIPLE INHERITENCE

In [145]:
class A:
    pass

class B:
    pass

class C(A, B):
    pass

In [164]:
class A:
    x = 10

class B(A):
    pass

class C(B):
    pass
    
class D(A):
    x = 5
    
class E(C, D):
    pass

In [165]:
e = E()

In [166]:
e.x

5

In [159]:
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

# Functional Programming

In [167]:
isinstance(print, object)

True

In [168]:
# Anonymous Functions (Lambda functions)

In [173]:
def square(num):
    return num ** 2 # single line function body which is a return statement

In [174]:
square_cool = lambda num: num ** 2

In [175]:
square_cool(2)

4

In [176]:
random = lambda x, y: x + y

In [177]:
random(5,6)

11

In [178]:
(lambda x: x ** 3)(4)

64

In [179]:
sorted([5,6,7,3,4,5,1,2])

[1, 2, 3, 4, 5, 5, 6, 7]

In [181]:
students = [
    {"name": "A", "marks": 50},
    {"name": "B", "marks": 100},
    {"name": "C", "marks": 40},
    {"name": "D", "marks": 70},
    {"name": "E", "marks": 60}
]

In [182]:
sorted(students)

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [184]:
sorted(students, key = lambda x: x["marks"])

[{'name': 'C', 'marks': 40},
 {'name': 'A', 'marks': 50},
 {'name': 'E', 'marks': 60},
 {'name': 'D', 'marks': 70},
 {'name': 'B', 'marks': 100}]

In [185]:
# HIGHER ORDER FUNCTIONS

In [186]:
def gen_exp(n):
    def exp(x):
        return x ** n
    
    return exp

In [187]:
exp_5 = gen_exp(5)

In [188]:
type(exp_5)

function

In [189]:
exp_5(2)

32

In [190]:
exp_10 = gen_exp(10)

In [191]:
exp_10(2)

1024